#
#    demidi - Decentralized MIDI over Zyre
#
#    Copyright (c) the Contributors as noted in the AUTHORS file.       
#    This file is part of CZMQ, the high-level C binding for 0MQ:       
#    http://czmq.zeromq.org.                                            
#                                                                       
#    This Source Code Form is subject to the terms of the Mozilla Public
#    License, v. 2.0. If a copy of the MPL was not distributed with this
#    file, You can obtain one at http://mozilla.org/MPL/2.0/.           

Source:         demidi
Section:        net
Priority:       optional
Maintainer:     John Doe <John.Doe@example.com>
Uploaders:      John Doe <John.Doe@example.com>
Standards-Version: 3.9.5
Build-Depends: bison, debhelper (>= 8),
    pkg-config,
    automake,
    autoconf,
    libtool,
    libsodium-dev,
    libzmq4-dev,
    libczmq-dev,
    libzyre-dev,
    libasound-dev,
    dh-autoreconf,
    systemd


Package: demidi
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: decentralized midi over zyre
 Main package for demidi: decentralized midi over zyre

Package: demidi-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    demidi (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for demidi
 This package contains the debugging symbols for demidi : decentralized midi over zyre.

